@{
    ViewData["Title"] = "ConfigurarJuego";
}

<form action='@Url.Action("Comenzar", "Home")' method="GET" enctype="application/x-www-form-urlencoded">
    Ingrese el nombre de usuario: <input type="text" name="username"/>
    Ingrese la categoria a elegir: 
    <select name="categoria">
    @foreach(Categorias categoria in ViewBag.categorias){
        <option value=categoria.IdCategoria>@categoria.Nombre</option>
    }
    </select>
    <input type ="submit" value="Jugar">
</form>